.item {
    border-radius: 10px;
    background-color: white;
    padding: 20px;
    margin: 40px;
    margin-bottom: 10px;
}
.item:hover {
    background-color: #cbd5e1;
    font-size: 36px;
    padding: 20px;
    /* transition: 0.3s; */
    transition: all 0.5s ease-out;
}
/* This is code for when a task is actively opened */
.itemActive {
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    margin: 40px;
    margin-bottom: 10px;

    background-color: #cbd5e1;
    font-size: 36px;
    padding: 20px;

    display: none;
}
.itemExpanded {
    border-radius: 10px;
    background-color: white;
    font-size: 15px;
    padding: 20px;
    margin: 100px;
    margin-top: 0;

    display: none;

}