body {
    background: #c4b5fd;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
}
.container {
    background: #c4b5fd;
    /* display: grid;
    grid-template-columns: 200px 5fr;
    grid-template-rows: min-content 1fr; */
    display: flex;
}
.containerTwo {
    padding: 30px;
}
/*------------------------------------------------------*/
.topHeader {
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.header {
    grid-column: 2 / 2;
    text-align: center;
    /* border: 1px solid black; */
    font-size: 20px;
    padding: 20px;
}
.headerButtons {
    padding: 20px;
    display: grid;
    grid-template-columns: 50px 50px;
    color: black;
    text-align: center;
}
.header, .headerButtons, .topHeader {
    background-color: #9333ea;
    color: white;
}
.addList:hover {
    background-color: #c4b5fd;
    border-radius: 200px;
    padding: 10px;
    transition: 0.2s;
    border: 5px solid rgb(255, 255, 255);
}
.home:hover, .menu:hover {
    background-color: #c4b5fd;
    border-radius: 200px;
    /* padding: 10px; */
    transition: 0.2s;
    border: 5px solid rgb(255, 255, 255);
}
/*------------------------------------------------------*/
.mainBody {
    grid-column: 2 / 2;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 100vh;
    padding: 10px;
}
.mainHeading {
    font-size: 46px;
    padding: 20px;
    color: #3f3f46;
}
/*------------------------------------------------------*/
.sideNav {
    grid-column: 1 / 2;
    /* border: 1px solid black; */
    background-color: #ddd6fe;
    padding: 20px;
    display: flex;
    justify-content: center;
    display: none;
}
.sideNav-open {
    grid-column: 1 / 2;
    /* border: 1px solid black; */
    background-color: #ddd6fe;
    padding: 20px;
    display: grid;
    grid-template-columns: 200px;
    justify-content: center;
    height: 120vh;
}
/* Add menu bar functionality here */
.ulSideNav, .liSideNav {
    list-style: none;
    padding: 10px;
    margin: 0;
}
.liSideNav {
    background-color: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    border-radius: 10px;
    margin: 10px;
}
.liSideNav:hover {
    background-color: #cbd5e1;
    font-size: 15px;
    padding: 20px;
    transition: 0.2s;
    transition-timing-function: ease-in-out;
}
svg, .liSideNav {
    display:inline-block;
    vertical-align: middle;
}
