.projectContainer {
    border-radius: 20px;
    background-color: #581c87;
    padding: 20px;
    margin: 20px;
    width: 500px;
    font-size: 10px;
    color: white;
    display: grid;
    grid-template-columns: 3fr 1fr;
    justify-content: space-between;
    text-align: left;
    gap: 10px;

    word-wrap: break-word;
    white-space: pre-wrap;
    word-break: break-word;
}
.projectContainer:hover {
    background-color: #e1cbd9;
    box-shadow: 0px 0px 10px #8b8383;

    word-wrap: break-word;
    white-space: pre-wrap;
    word-break: break-word;
}
.projectModal, .addProjectModal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}
.projectModal-content, .addProjectModal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 1rem 1.5rem;
    width: 50rem;
    border-radius: 0.5rem;
    background-color: #f5d0fe;
    font-size: 15px;
}
.close-button {
    float: right;
    width: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: lightgray;
}
.close-button:hover {
    background-color: darkgray;
}
.show-projectModal, .show-addProjectModal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}
/* ------------------------------------------------------ */
.projectModal-content {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
}
.projectItem {
    border-radius: 20px;
    background-color: #a21caf;
    padding: 20px;
    margin: 20px;
    font-size: 20px;
    color: rgb(45, 41, 41);
    display: grid;
    justify-content: space-between;
    word-wrap: break-word;
    white-space: pre-wrap;
    word-break: break-word;
}
h3 {
    color: white;
}
.projectDate {
    color: #3f3f46;
}
.projectTaskTitle {
    font-size: 20px;
    color: white;
}
.projectDescription {
    font-size: 15px;
    color: white;
    
}
.projectItem:hover {
    background-color: #3c8df0;
    box-shadow: 0px 0px 10px #8b8383;

    word-wrap: break-word;
    white-space: pre-wrap;
    word-break: break-word;
}
/* ------------------------------------------------------ */
.addProject {
    border-radius: 20px;
    background-color: #ba98d5;
    padding: 20px;
    margin: 20px;
    width: 100px;
    font-size: 15px;
    color: white;
}

.addProject:hover {
    background-color: #a21caf;;
    box-shadow: 0px 0px 10px #8b8383;
    transform: scale(1.1);
    transition: 0.1s;
}